

.buttonTienda {
    --color: #bfa054;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    color: var(--color);
    z-index: 1;
   }
   
   .buttonTienda::before, .buttonTienda::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .buttonTienda::before {
    top: -1em;
    left: -1em;
   }
   
   .buttonTienda::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .buttonTienda:hover::before, .buttonTienda:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .buttonTienda:hover {
    color: rgb(10, 25, 30);
   }
   
   .buttonTienda:active {
    filter: brightness(.8);
   }



.buttonCompra {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    color: var(--color);
    z-index: 1;
   }
   
   .buttonCompra::before, .buttonCompra::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .buttonCompra::before {
    top: -1em;
    left: -1em;
   }
   
   .buttonCompra::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .buttonCompra:hover::before, .buttonCompra:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .buttonCompra:hover {
    color: rgb(10, 25, 30);
   }
   
   .buttonCompra:active {
    filter: brightness(.8);
   }

.buttonDelete {
    --color: #f70808;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    color: var(--color);
    z-index: 1;
   }
   
   .buttonDelete::before, .buttonDelete::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .buttonDelete::before {
    top: -1em;
    left: -1em;
   }
   
   .buttonDelete::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .buttonDelete:hover::before, .buttonDelete:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .buttonDelete:hover {
    color: rgb(10, 25, 30);
   }
   
   .buttonDelete:active {
    filter: brightness(.8);
   }