.ConteinerUserAdmin{
    display: flex;
    padding: 10px;
    min-width: 100%;
    justify-content: center;
}

.AdminListUser{
    padding: 30px;
    justify-content: center;
    min-width: 50%;
}

.userModificarAdmin{
    padding: 30px;
    min-width: 50%
}

.ButonesUserAdmin{
    display: flex;
    justify-content: center;
}